@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
	margin: 0 !important;
	padding: 0 !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	font-size: 100%; /* 100% = 16px */
	scroll-behavior: smooth;

	/* fonts */
	--font-400-info-messages: "Inconsolata", monospace;

	/* colors */
	--nortatem-red-no-transp: rgba(164, 16, 52);
	--nortatem-red-25-transp: rgba(164, 16, 52, 0.25);
	--white-no-transp: rgba(255, 255, 255);
}

/* NAVBAR*/

/* FOOTER */

/* COOKIECONSENT */

#cookieconsent {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--nortatem-red-no-transp);
}

.cookieconsent-dialog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.cookieconsent-body {
	margin: 0;
	padding: 3% 2% 0 2%;
}

.cookieconsent-text,
.cookieconsent-text a {
	margin: 0;
	padding: 0;
	color: var(--white-no-transp);
	font-family: var(--font-400-info-messages);
	font-size: 1.4rem;
	line-height: 1.3;
}

.cookieconsent-button {
	margin: 0 auto;
	padding: 7% 0;
}

#cookieconsentbuttonaccept,
#cookieconsentbuttonaccept:focus-visible,
#cookieconsentbuttonaccept:active,
#cookieconsentbuttonaccept:hover {
	margin: 0;
	padding: 14px 28px;
	border-color: var(--nortatem-red-no-transp);
	border-radius: 5px !important;
	background-color: var(--white-no-transp);
	color: var(--nortatem-red-no-transp);
	font-family: var(--font-400-info-messages);
	font-size: 1.4rem;
	cursor: pointer;
}

#cookieconsentbuttonaccept:active {
	transform: scale(0.9);
}

@media screen and (min-width: 768px) {

    /* COOKIECONSENT */
	.cookieconsent-dialog {
		flex-direction: row;
        padding: 2% 3%;
	}

	.cookieconsent-body {
		padding: 1%;
	}

	.cookieconsent-button {
		padding: 1%;
	}
}
