:root {
    margin: 0;
	padding: 0;
	box-sizing: border-box;

    /* fonts */

    /* colors */
    --generic-white: rgba(255,255,255);
    --nortatem-red: rgba(164,16,52);
}


/* NAVBAR*/


/* FOOTER */



/* COOKIECONSENT */
/* #cookieconsentdiv {
    display: none;
    background-color: var(--nortatem-red);
    position: fixed;
    bottom: 0px;
    padding: 1% 3%;
}
.cookieconsentdialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--generic-white);
}

.cookieconsent-body p, .cookieconsent-body p a {
    margin: 0;
    padding: 0;
    color: var(--generic-white)
}

.cookieconsent-button, .cookieconsent-button:focus-visible, .cookieconsent-button:active, .cookieconsent-button:hover {
    border-color: var(--generic-white)!important;
    border-radius: 5px!important;
    background-color: var(--generic-white)!important;
    color: var(--nortatem-red)!important;
}

.cookieconsent-button:active {
    transform: scale(0.98)!important;
} */
