{% extends 'public/publicbase.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock title %}
{% block keywords %}{{ keywords }}{% endblock keywords %}
{% block description %}{{ description }}{% endblock description %}

{% block body %}

<main>

    <section>
        <h1 class="section-title">{{ content.section_1.title }}</h1>
        <div class="section-body">
            <div class="section-body-question">
                <p>{{ content.section_1.question }}</p>
            </div>
            <div class="section-body-button">
                <button type="button" class="btn generateAnswer"             data-id="ceos-section-body-answer-exhaustive"
                data-answer="{{ content.section_1.answer }}">{{ content.section_1.button_text }}</button>
            </div>
            <div class="section-body-answer">
                <p id="ceos-section-body-answer-exhaustive"></p>
            </div>
        </div>
    </section>


</main>

{% endblock body %}
