{% load static %}

<nav class="navbar">
    <div class="navbar-brand-container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'shared/images/logo/nortatem_logo.png' %}" alt="NORTATEM Logo" width="250" height="auto">
        </a>
    </div>
    <div class="navbar-items-container" id="navbar-items">
        <button type="button" class="navbar-button">Login</button>
        <a href="#home" class="navbar-item">Home</a>
        <a href="#news" class="navbar-item">News</a>
        <a href="#contact" class="navbar-item">Contact</a>
        <a href="#about" class="navbar-item">About</a>
    </div>
    <div class="navbar-menu-container">
            <div class="navbar-menu" id="navbar-menu-toggler">
                <div class="navbar-menu-bar-1"></div>
                <div class="navbar-menu-bar-2"></div>
                <div class="navbar-menu-bar-3"></div>
        </div>
    </div>

</nav>
