{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="icon"
			type="image/x-icon"
			href="{% static 'shared/images/favicon/favicon-32x32.png' %}"
		/>
        <link
			rel="icon"
			type="image/x-icon"
			href="{% static 'shared/images/favicon/favicon-16x16.png' %}"
		/>
        <link
			rel="icon"
			type="image/x-icon"
			href="{% static 'shared/images/favicon/favicon.ico' %}"
		/>
        <link
			rel="apple-touch-icon"
			type="image/x-icon"
			href="{% static 'shared/images/favicon/apple-touch-icon.png' %}"
		/>
		<link rel="canonical" href="https://nortatem.com/" />
		<title>{% block title %}{% endblock title %}</title>
		<meta
			name="keywords"
			content="{{ page_keywords|default:'NORTATEM, B2B marketplace, chatGPT, language model, machine learning, wholesalers, distributors, sellers, purchasing managers, sales, B2B sales, find B2B buyers, find B2B suppliers, machine learning, automated sales, artificial intelligence' }}"
		/>
		<meta
			name="description"
			content="{{ page_description|default:'Looking to increase margins via sales or purchasing? With more than 7,000,000 companies from all over the world we automatize the tedious parts of selling and buying. Works from day 1. No training required' }}"
		/>
		<meta name="author" content="NORTATEM" />
		<link href="{% static 'public/css/publicbase.css' %}" rel="stylesheet" />
		{% if page_css %}
		<link href="{% static page_css %}" rel="stylesheet" />
		{% endif %}
		<script defer src="{% static 'public/js/publicbase.js' %}"></script>
		{% if page_js %}
		<script defer src="{% static page_js %}"></script>
		{% endif %}
		<script defer src="{% static 'public/js/cookieconsent.js' %}"></script>
	</head>
	<body>
		{% include 'public/navbar.html' %}

		{% block body %}{% endblock body %}

		{% include 'public/footer.html' %}

		{% include 'public/cookieconsent.html' %}
	</body>
</html>