{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon-32x32.png' %}" />
    <link rel="canonical" href="https://www.nortatem.com" />
    <title>{% block title %}{% endblock title%}</title>
    <meta name="keywords" content="{{ page_keywords|default:'sales, B2B sales, find B2B buyers, find B2B suppliers, machine learning, automated sales, artificial intelligence' }}" />
    <meta name="description" content="{{ page_description|default:'Looking to increase margins via sales or purchasing? With more than 7,000,000 companies from all over the world we automatize the tedious parts of selling and buying. Works from day 1. No training required' }}" />
    <meta name="author" content="NORTATEM B2B" />
    <link href="{% static 'bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link href="{% static 'public/css/base.css' %}" rel="stylesheet" />
    {% if page_css %}
    <link href="{% static page_css %}" rel="stylesheet" />
    {% endif %}
  </head>
  <body>
    <div class="container-fluid">
      <h1>LA NAVBAR</h1>
      <img src="{% static 'images/logo/nortatem_logo.svg' %}" class="img-fluid" alt="nortatem_logo"/>
    </div>
    {% block body %}{% endblock body%}
    <div class="container-fluid">
      <h1>EL FOOTER</h1>
    </div>
    <script defer src="{% static 'bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script defer src="{% static 'public/js/base.js' %}"></script>
    {% if page_js %}
    <script defer src="{% static page_js %}"></script>
    {% endif %}
    <script defer src="{% static 'public/js/cookieconsent.js' %}"></script>
    {% comment %} MODALS {% endcomment %}
    <div class="modal" id="cookieconsentmodal" tabindex="-1" aria-label="cookieconsent" aria-describedby="cookieconsent">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
