:root {
    margin: 0;
	padding: 0;
	box-sizing: border-box;

    /* fonts */

    /* colors */
}


/* NAVBAR*/


/* FOOTER */


/* COOKIECONSENT */
#cookieconsentmodaldialog {
    position: inherit;
    bottom: 10%;
    left: 10%;
    right: 10%;
    max-width: 100%;
}